/* body {
    background-color: white;
    padding: 20px;
}

#main-title {
    color: black;
    font-family: "Pretendard";
    font-size: 80px;
    font-weight: 100;
    text-align: center;
}

.introduce {
    text-align: center;
}

img {
    max-width: 800px;
}

.introduce p{
    margin: 20px;
}

.introduce button{
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 24px;
    border: 1px solid black; 
    background-color: rgba(240, 248, 255, 0);
    color: black;
    padding: 16px 32px 16px 32px;
    border-radius: 250px;
} 
} */

body {
    background-color: rgba(218, 241, 255, 0.853);
}

img {
    width: 800px;
    border-radius: 15px;
}

#main-title {
    color: blue;
    font-weight: 900;
    text-align: center;
    font-size: 40px;
}

.introduce {
    text-align: center;
}

.introduce button {
    font-family: "Pretendard";
    font-weight: bold;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 250px;
    padding: 20px 40px 20px 40px;
    background-color: #ffffff00;
    cursor: pointer;
}